eli5==0.13.0
ipython==8.10.0
ipython-genutils==0.2.0
imblearn
keras==2.13.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
mlxtend==0.22.0   
numpy==1.23.5
pandas==1.5.3
PDPbox==0.2.0
plotly==5.14.1
py-synthpop==0.1.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
shap==0.41.0
tabulate==0.8.10
tensorflow==2.12.0
torch==2.0.0
umap-learn==0.5.3
xgboost==1.7.5